@page "/"
@namespace BlazorCMS.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlazorCMS Admin</title>

    <base href="/" />

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <script>window.BlazorCMS = {};</script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
        <div>Loading...</div>
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
