@page "/blogs/edit/{BlogId:int?}"
@using BlazorCMS.Admin.Services
@using BlazorCMS.Shared.DTOs
@inject AdminBlogService AdminBlogService
@inject NavigationManager Navigation

<h3>@(IsNew ? "Create New Blog" : "Edit Blog")</h3>

<input @bind="Blog.Title" placeholder="Title" />
<textarea @bind="Blog.Content" placeholder="Content"></textarea>
<button @onclick="SaveBlog">Save</button>

@code {
    [Parameter] public int? BlogId { get; set; }
    private BlogPostDTO Blog = new();
    private bool IsNew => BlogId == null;

    protected override async Task OnInitializedAsync()
    {
        if (!IsNew)
        {
            Blog = await AdminBlogService.GetBlogById(BlogId.Value);
        }
    }

    private async Task SaveBlog()
    {
        if (IsNew)
            await AdminBlogService.CreateBlog(Blog);
        else
            await AdminBlogService.UpdateBlog(Blog);

        Navigation.NavigateTo("/blogs");
    }
}
