@using BlazorCMS.Admin.Shared
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
        </Found>
         <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <p>Sorry, the page could not be found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>